
<div class="mascotas-container bg-gray-100 min-h-screen py-8">
  <div class="container mx-auto p-4 max-w-5xl">
    <h2 class="text-3xl font-bold text-gray-900 mb-6">Mis Mascotas</h2>
    <a class="bg-blue-600 text-white px-6 py-2 rounded-md shadow-md hover:bg-blue-700 transition" routerLink="./agg-mascota">Agregar Mascota</a>
    <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

      <div *ngFor="let mascota of mascotas" class="mascota-card bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition cursor-pointer" >
        <a routerLink="['/mascota', mascota.placaID]">
        <img [src]="mascota.imagen" alt="{{ mascota.apodo }}" class="w-full h-40 object-cover rounded-md mb-4">
        <div class="mascota-info text-center">
          <h3 class="text-lg font-semibold text-gray-800">{{ mascota.apodo }}</h3>
        </div>
      </a>
      </div>
  
    </div>
  </div>
</div>




