<!-- component -->
<style>
    :root {
      --main-color: #4a76a8;
    }
  
    .bg-main-color {
      background-color: var(--main-color);
    }
  
    .text-main-color {
      color: var(--main-color);
    }
  
    .border-main-color {
      border-color: var(--main-color);
    }
  </style>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  
  <div class="min-h-screen bg-gray-900">
    <!-- Navbar -->
    <div class="w-full text-white bg-main-color">
      <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
        <div class="p-4 flex flex-row items-center justify-between">
          <a href="#" class="text-lg font-semibold tracking-widest uppercase rounded-lg focus:outline-none focus:shadow-outline"> Perfil </a>
          <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline">
            <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
              <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
              <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <nav :class="{ 'flex': open, 'hidden': !open }" class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
          <div class="relative">
            <button class="flex flex-row items-center space-x-2 w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent hover:bg-blue-800 md:w-auto md:inline md:mt-0 md:ml-4 hover:bg-gray-200 focus:bg-blue-800 focus:outline-none focus:shadow-outline">
              <img class="inline h-6 rounded-full" src="" />
              <svg fill="currentColor" viewBox="0 0 20 20" :class="{ 'rotate-180': open, 'rotate-0': !open }" class="inline w-4 h-4 transition-transform duration-200 transform">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </nav>
      </div>
    </div>
    <!-- End of Navbar -->
  
    <div class="container mx-auto my-5 p-5">
      <div class="md:flex no-wrap md:-mx-2">
        <!-- Left Side -->
        <div class="w-full md:w-3/12 md:mx-2">
          <!-- Profile Card -->
          <div class="bg-white p-3 border-t-4 border-main-color rounded-lg shadow-md">
            <div class="image overflow-hidden"></div>
            <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">
              {{ usuario.nombre }}
            </h1>
            <h3 class="text-gray-600 font-lg text-semibold leading-6">
              {{ usuario.apellido }}
            </h3>
            <p class="text-sm text-gray-500 hover:text-gray-600 leading-6"></p>
          </div>
          <!-- End of profile card -->
  
          <div class="my-4"></div>
  
          <!-- Pets card -->
          <div class="bg-white p-3 hover:shadow rounded-lg shadow-md">
            <div class="flex items-center space-x-3 font-semibold text-gray-900 text-xl leading-8">
              <a class="nav-link text-black hover:underline" routerLink= "/mascotas" (click)="verMascotas()"  >Ver mis mascotas</a>
            </div>
          </div>
          <!-- End of Pets card -->
        </div>
        <!-- End Left Side -->
  
        <!-- Right Side -->
        <div class="w-full md:w-9/12 md:mx-2">
          <!-- About Section -->
          <div class="bg-white p-3 rounded-lg shadow-md">
            <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">
              Configuraciones de la cuenta
            </h1>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">
                <a class="nav-link text-black hover:underline" routerLink="/ajustes-cuenta">Informacion Personal</a>
              </div>
            </div>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">
                <a class="nav-link text-black hover:underline" routerLink="/">Eliminar mi cuenta</a>
              </div>
            </div>
            <!-- End About Section -->
          </div>
          <!-- End Right Side -->
        </div>
      </div>
    </div>
  </div>
  