<div class="max-w-md mx-auto bg-white shadow-md rounded-lg overflow-hidden mt-24">
    <div class="p-6">
        <h2 class="text-2xl font-bold mb-4">Información Personal</h2>
        <div class="mb-4">
            <label class="block text-gray-700">Email</label>
            <p class="text-gray-600">{{ usuario.email}}</p>
            <a href="#" class="text-blue-500 hover:underline">Editar</a>
        </div>
        <hr class="my-2"> <!-- Línea debajo de Email -->
        <div class="mb-4">
            <label class="block text-gray-700">Nombre</label>
            <p class="text-gray-600">{{ usuario.nombre}}</p>
            <a href="#" class="text-blue-500 hover:underline">Editar</a>
        </div>
        <hr class="my-2"> <!-- Línea debajo de Nombre -->
        <div class="mb-4">
            <label class="block text-gray-700">Teléfono</label>
            <p class="text-gray-600">{{ usuario.telefono}}</p>
            <a href="#" class="text-blue-500 hover:underline">Editar</a>
        </div>
        <hr class="my-2"> <!-- Línea debajo de Teléfono -->
        <div class="mb-4">
            <label class="block text-gray-700">Documento</label>
            <p class="text-gray-600">{{ usuario.nroDocumento}}</p>
            <a href="#" class="text-blue-500 hover:underline">Editar</a>
        </div>
        <hr class="my-2"> <!-- Línea debajo de Ubicación -->
        <div class="mb-4">
            <label class="block text-gray-700">Contraseña</label>
            <p class="text-gray-600">*******</p>
            <a href="#" class="text-blue-500 hover:underline">Editar</a>
        </div>
        <hr class="my-2"> <!-- Línea debajo de Contraseña -->
        <div class="mt-6">
            <button class="w-full bg-red-500 text-white py-2 rounded hover:bg-red-600">Eliminar Cuenta</button>
        </div>
    </div>
</div>