<nav class="sticky top-0 left-0 right-0 bg-gradient-to-r from-blue-500 via-green-500 to-teal-500 p-4 shadow-lg z-50">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-xl font-extrabold" routerLink="/">MASCOTAP</a>
        <div class="hidden md:flex space-x-6">
            <a href="/" class="nav-link text-white hover:underline" routerLink="/adopcion">Dar en adopción</a>
            <a class="nav-link text-white hover:underline">Quiero Adoptar</a>
            <a class="nav-link text-white hover:underline" routerLink="./agg-mascota">Registrar Mascota</a>
            <a class="nav-link text-white hover:underline">Hogares de Tránsito</a>
            <a class="nav-link text-white hover:underline">Sobre Nosotros</a>
            <a class="nav-link text-white hover:underline" routerLink="/perfil">Perfil</a>
        </div>
        <ng-container *ngIf="!auth.loggedIn(); else loggedIn">
            <div class="space-x-2">
                <a class="text-white bg-blue-700 hover:bg-blue-900 px-4 py-2 rounded-full shadow-md transform transition-transform duration-300 hover:scale-105" routerLink="/login">Iniciar Sesión</a>
                <a class="text-white bg-green-700 hover:bg-green-900 px-4 py-2 rounded-full shadow-md transform transition-transform duration-300 hover:scale-105" routerLink="/register">Registro</a>
            </div>
        </ng-container>
        <ng-template #loggedIn>
            <div class="space-x-2">
                <a class="text-white bg-red-700 hover:bg-red-900 px-4 py-2 rounded-full shadow-md transform transition-transform duration-300 hover:scale-105" (click)="auth.logout()">Cerrar Sesión</a>
            </div>
        </ng-template>
    </div>
</nav>
