<div class="container mx-auto mt-16 p-6 bg-white rounded-lg shadow-md">  
    <h2 class="text-2xl font-bold text-center mb-4">Registrar Mascota</h2>  
    <div class="mb-4">  
      <div class="relative">  
        <div class="absolute top-0 left-0 right-0 bg-gradient-to-r from-blue-500 via-green-500 to-teal-500 h-2"   
             style="width: {{ progressPercentage }}%;"></div>  
      </div>  
      <div class="text-center text-sm font-semibold">{{ progressPercentage | number : '1.0-0'}}% Completado</div>  
    </div>  
  
    <form [formGroup]="mascotaForm" (ngSubmit)="onSubmit()">  
      <!-- Paso 1: Placa ID -->  
      <div *ngIf="currentStep === 0">  
        <div class="mb-4">  
          <label class="block text-gray-700">Placa ID</label>  
          <input type="text" formControlName="placaID" class="mt-1 block w-full border border-gray-300 rounded-md p-2" />  
        </div>  
      </div>  
  
      <!-- Paso 2: Nombre -->  
      <div *ngIf="currentStep === 1">  
        <div class="mb-4">  
          <label class="block text-gray-700">Nombre</label>  
          <input type="text" formControlName="nombre" class="mt-1 block w-full border border-gray-300 rounded-md p-2" />  
        </div>  
      </div>  
  
      <!-- Paso 3: Apodo -->  
      <div *ngIf="currentStep === 2">  
        <div class="mb-4">  
          <label class="block text-gray-700">Apodo</label>  
          <input type="text" formControlName="apodo" class="mt-1 block w-full border border-gray-300 rounded-md p-2" />  
        </div>  
      </div>  
  
      <!-- Paso 4: Edad -->  
      <div *ngIf="currentStep === 3">  
        <div class="mb-4">  
          <label class="block text-gray-700">Edad</label>  
          <input type="number" formControlName="edad" class="mt-1 block w-full border border-gray-300 rounded-md p-2" />  
        </div>  
      </div>  
  
      <!-- Paso 5: Descripción -->  
      <div *ngIf="currentStep === 4">  
        <div class="mb-4">  
          <label class="block text-gray-700">Descripción</label>  
          <textarea formControlName="descripcion" class="mt-1 block w-full border border-gray-300 rounded-md p-2"></textarea>  
        </div>  
      </div>  
  
      <!-- Paso 6: Imagen -->  
      <div *ngIf="currentStep === 5">  
        <div class="mb-4">  
          <label class="block text-gray-700">Imagen</label>  
          <input type="file" formControlName="imagen" class="mt-1 block w-full border border-gray-300 rounded-md p-2" />  
        </div>  
      </div>  
  
      <!-- Paso 7: Características -->  
      <div *ngIf="currentStep === 6">  
        <div class="mb-4">  
          <label class="block text-gray-700">Características</label>  
          <textarea formControlName="caracteristicas" class="mt-1 block w-full border border-gray-300 rounded-md p-2"></textarea>  
        </div>  
      </div>  
  
      <div class="flex justify-between mt-6">  
        <button type="button" (click)="previousStep()" class="bg-gray-500 text-white px-4 py-2 rounded" [disabled]="currentStep === 0">Anterior</button>  
        <button type="button" (click)="nextStep()" class="bg-blue-500 text-white px-4 py-2 rounded"   
                [disabled]="currentStep === totalSteps - 1">Siguiente</button>  
      </div>  
      <div class="mt-4">  
        <button type="submit" class="w-full bg-green-500 text-white py-2 rounded" *ngIf="currentStep === totalSteps - 1">Enviar</button>  
      </div>  
    </form>  
  </div>  